@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  @apply pb-5;
}

h2 {
  font-size: 2rem;
  line-height: 2.75rem;
  @apply pb-4;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.75rem;
  @apply pb-3;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  @apply pb-2;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  @apply pb-1;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

a {
  @apply font-medium text-yellow-400;
}

a:hover {
  @apply underline;
}

.rich-text p {
  margin: 0 0 10px;
  line-height: 1.5em;
}

.rich-text ul {
  list-style: disc;
  padding: 0 5px;
  margin: 0 15px;

  p {
    margin: 0;
  }
}

.rich-text ol {
  list-style: decimal;
  padding: 0 5px;
  margin: 0 15px;

  p {
    margin: 0;
  }
}

.rich-text th {
  @apply uppercase bg-gray-700;
  padding: 12px 8px;
  text-align: left;
}

.rich-text td,
.rich-text th {
  @apply border border-gray-700;
  padding: 8px;
  p {
    margin: 0;
    color: white;
  }
}

.rich-text tr {
  @apply border-gray-700 bg-gray-800;
}
